fastapi
uvicorn
python-multipart
pydantic
numpy
pandas
spacy
pdfplumber
python-docx
sentence-transformers
notebook
torch
torchvision
torchaudio
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl
