fastapi
uvicorn
python-multipart
pydantic
numpy==1.26.4
pandas
spacy==3.7.2
sentence-transformers
torch
torchvision
torchaudio
pdfplumber
python-docx
notebook
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl
