fastapi
uvicorn
python-multipart
pydantic
spacy
pdfplumber
python-docx
sentence-transformers
matplotlib
seaborn
notebook
scikit-learn
filetype
pytesseract
pillow
optimum[openvino,nncf]
umap-learn
hdbscan
torch
torchvision
torchaudio
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl